
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #71BBD9;
    color: white;
    position: fixed;
    width: 100%;
    z-index: 1000;
    height: 70px;
}

.user {
    margin-left: auto;
    margin-right: auto;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande';
}

.navbar button {
margin-right: 10px;    
cursor: pointer;
background-color: #71BBD9;
border: 2px solid white;
}