.sidebar {
    width: 250px;
    background-color: #015C92;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    height: 100vh;
    margin-top: 70px;
}

/* .menu {
    width: 100%;
} */

.menu-button {
    width: 90%;
    background-color: #015C92;
    color: white;
    border: 1px  solid white;
    padding: 10px;
    margin: 25px auto;
    margin-left: 10px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
}

.menu-button:hover {
    background-color: #71BBD9;
    font-weight: bold;
}